h1 {
    text-align: center;

}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    text-align: center;
 }


 article {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

 }